<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="top.luhancc.mybatis.example.mapper.UserMapper">
    <select id="selectById" resultType ="top.luhancc.mybatis.example.entity.Users">
        select * from user where id = ?
    </select>

    <select id="selectByName" resultType ="top.luhancc.mybatis.example.entity.Users">
        select * from user where username = ?
    </select>

    <select id="selectNameById" resultType ="string">
        select username from user where id = ?
    </select>

    <select id="selectIdByName" resultType ="int">
        select id from user where username = ?
    </select>

    <select id="selectAll" resultType ="top.luhancc.mybatis.example.entity.Users">
        select * from user
    </select>

    <select id="selectMapByName" resultType ="map">
        select * from user where username = ?
    </select>

    <select id="selectMapsAll" resultType ="map">
        select * from user
    </select>
</mapper>